<%- include header %>

<div class="pagecontent">

<div id="featuredArtSection">
<h2>Featured Artwork</h2>

<img src='images/feature1-a.jpg' width='300' height='300' />
<img src='images/feature3-a.jpg' width='300' height='300' />
<img src='images/feature2-a.jpg' width='300' height='300' />

</div>

<a href="">Take the art taste test to find art that you like</a>

</div>

<%- include footer %>
