<%- include header %>

<div id="buyercontent">

<h2>Featured Artwork</h2>

<div id="featuredPics1">
  
</div>

<a href="">Take the art taste test to find art that you like</a>

</div>

<%- include footer %>
