<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<header>
			<a href="/" >
				<img src="images/logo.png" title="MyOwnGallery" alt="MyOwnGallery">
			</a>
			<nav>
			</nav>
			<nav id="main-nav">
				<ul>
					<li>Home</li>
					<li>Gallery</li>
					<li>Make Money</li>
					<li>Events</li>
					<li>Contact</li>
				</ul>
			</nav>
		</header>

		<footer>
		</footer>
  </body>
</html>