<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui-1.8.22.custom.css' />
  </head>
  <body>
        <div id="container">
		<header>
			<a href="/">
				<img id="logo" src="images/logo.png" title="MyOwnGallery" alt="MyOwnGallery">
			</a>
            <form id="quick-login">
                <label for="txtEmailQuickLogin">Email:</label><input id="txtEmailQuickLogin" class="email" type="email"/>
                <label for="txtPasswordQuickLogin">Password:</label><input id="txtPasswordQuickLogin" class="password" type="password"/>
                <button id="btnLoginQuickLogin" class="login">Login</button>
            </form>
			<nav id="main-nav">
                <ul id="navlist">
                    <li><a href="/">Home</a></li>
                    <li><a href="/buyer">Buy Art</a></li>
                    <li><a href="/signup">Make Money</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
			</nav>
		</header>
