<%- include header %>
<% if (errors.length > 0) { %>
<p><%= errors %></p>
<% } else { %>
	
<% } %>


<form method="post" action="/userpage">
	<label for="txtUserName">Username:</label><input id="txtUserName" name="txtUserName" type="text" />
	<label for="txtPassword">Password:</label><input id="txtPassword" name="txtPassword" type="text" />
	<button type="submit">Login</button>
</form>
<%- include footer %>
