body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav ul {
	display: ininle;
	text-decoration: none;
}

nav li {
	display: block;
	float: left;
	margin-left: 10px;
}

nav li:first-child {
    margin-left: 0;
}