body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

nav ul {
    display: block;
    text-decoration: none;
}

nav li {
    display: block;
    float: left;
    margin-left: 10px;
}

nav li:first-child {
    margin-left: 0;
}

form label {
    display: block;
    clear: both;
}
form input{
    display: block;
}

form img {
    display: block;
}

header {
    margin-bottom: 20px;
    overflow: auto;
}

body {
    background-image: url("/images/bg.jpg");
    margin: 0;
    padding: 0;
}

/* Font Face Types installed */

@font-face {
    font-family: 'OpenSansCondensedBold';
    src: url('fonts/OpenSans-CondBold-webfont.eot');
    src: url('fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-CondBold-webfont.woff') format('woff'),
    url('fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
    url('fonts/OpenSans-CondBold-webfont.svg#OpenSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansRegular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('DroidSans-webfont.woff') format('woff'),
    url('DroidSans-webfont.ttf') format('truetype'),
    url('DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* End Font Face */

#container {
    width: 1000px;
    margin: auto;

}

#logo {
    width: 260px;
    height: 100px;
    float: left;
    margin-top: 17px;
}

nav {
    width: 620px;
    margin-left: 40px;
    margin-top: 10px;
    float: right;
    background-image: url("/images/navback.png");
    background-repeat: no-repeat;
    height: 65px;
}

#navlist {
    padding: 0;
    line-height: 44px;
    margin: 8px 30px 8px 30px;
    overflow: auto;
}

#navlist li {
    margin: 0;
}

nav li {
    color: #888888;
    display: inline;
    list-style-type: none;
    font-family: 'OpenSansCondensedBold', arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

nav li a {
    display: block;
    padding: 0 20px;
}

nav li a:hover {
    color: 	white;
    box-shadow: inset 0 0 16px #000000;
}

nav a {
    text-decoration: none;
    color: #AAA;
}


.divider {
    background-image: url("/images/horizontaldivider.png");
    background-repeat: no-repeat;
    width: 740px;
    height: 15px;
    margin-left: 100px;
    margin-top: 20px;
    float: left;
    clear: both;
}

#dividertwo {
    background-image: url("/images/horizontaldivider.png");
    background-repeat: no-repeat;
    width: 740px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
}

.vertdivider {
    background-image: url("/images/verticaldivider.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 400px;
    float: left;
}


#videocontainer {
    width: 533px;
    height: 300px;
    clear: both;
    margin-left: 170px;
    margin-top: 20px;
}

#maincontent {
    width: 95%;

    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 40px;
}

#maincontent p {
    font-family: arial, sans-serif;
    font-size: 14px;
}

.infotext {
    font-family: arial, sans-serif;
    font-size: 14px;
}

#subone {
    width: 300px;
    height: 400px;
    float: left;
    margin-top: 0px;
    clear: both;
    margin-left: 20px;
}

#subtwo {
    width: 300px;
    height: 400px;
    float: left;
    margin-top: 0;
    margin-left: 20px;
}

#subthree {
    width: 298px;
    height: 400px;
    float: left;
    margin-top: 0px;
    margin-left: 20px;
}

.thumbnail {
    margin-right: 15px;
    float: left;
}

footer {
    background-image: url("/images/footerback.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 200px;
    clear: both;
}

.headlines {
    font-family: 'DroidSansRegular', helvetica, arial, sans-serif;
    font-size: 36px;
    text-align: left;
    color: #444;
}

.subheading {
    font-family: 'DroidSansRegular', helvetica, arial, sans-serif;
    font-size: 24px;
    text-align: left;
    color: #444;
}

#login {
    float: left;
    clear: right;
    margin-top: 20px;
    margin-left: 250px;
}

.signin {
    font-family: 'DroidSansRegular', arial, sans-serif;
    font-size: 10px;
}

#email {
    font-style: italic;
    height: 25px;
    width: 150px;
    color: #fefefe;
    background-color: #666666;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#password {
    font-style: italic;
    height: 25px;
    width: 150px;
    color: #fefefe;
    background-color: #666666;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

#loginbutton {
    color: white;
    height: 25px;
    width: 50px;
    border: none;
    background-color: black;
    font-family: 'OpenSansCondensedBold', arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#quick-login {
    float: right;
    clear: right;
    width: 450px;
    margin-top: 20px;
}

#quick-login label,
#quick-login input,
#quick-login button {
    display: block;
    float: left;
    clear: none;
}

#quick-login input + label {
    clear: none;
    margin-left: 15px;
}

#quick-login button {
    margin-left: 10px;
}


.pagecontent
{
    margin-top: 100px;
    text-align: center;
    width: 100%;
}